dist: trusty
addons:
  apt:
    packages:
    - poppler-utils
cache:
  bundler: true
  directories:
  - $HOME/.rvm
git:
  # use depth 2 just in case two refs get pushed at once (like a tag)
  depth: 2
language: ruby
bundler_args: --path=.bundle/gems --jobs=3 --retry=3 --without=docs
rvm:
- &release_ruby 2.6.3
- 2.5.5
- 2.4.6
- &oldest_ruby 2.3.8
- jruby-9.2.7.0
- jruby-9.1.17.0
matrix:
  include:
  - rvm: *oldest_ruby
    env: ASCIIDOCTOR_VERSION=1.5.3
  - rvm: *oldest_ruby
    env: ROUGE_VERSION='~> 2.0.0'
script:
- bundle exec rake spec
deploy:
  provider: rubygems
  gem: asciidoctor-pdf
  api_key: ${RUBYGEMS_API_KEY}
  on:
    tags: true
    repo: asciidoctor/asciidoctor-pdf
    rvm: *release_ruby
