dist: trusty
addons:
  apt:
    packages:
    - poppler-utils
cache:
  bundler: true
  directories:
  - $HOME/.rvm
git:
  # use depth 5 to leave enough room for concurrent builds
  depth: 5
language: ruby
rvm:
- &release_ruby 2.6.3
- 2.5.5
- 2.4.6
- &oldest_ruby 2.3.8
matrix:
  include:
  - rvm: jruby-9.2.7.0
    env: JRUBY_OPTS='--dev'
  - rvm: jruby-9.1.17.0
    env: JRUBY_OPTS='--dev'
  - rvm: *oldest_ruby
    env: ASCIIDOCTOR_VERSION=1.5.3
  - rvm: *oldest_ruby
    env: ROUGE_VERSION='~> 2.0.0'
bundler_args: --path=.bundle/gems --jobs=3 --retry=3 --without=docs
script:
- bundle exec rake spec
deploy:
  provider: rubygems
  gem: asciidoctor-pdf
  api_key: ${RUBYGEMS_API_KEY}
  on:
    tags: true
    repo: asciidoctor/asciidoctor-pdf
    rvm: *release_ruby
