dist: bionic
addons:
  apt:
    packages: [ghostscript, poppler-utils]
git:
  depth: 5 # use depth 5 to leave enough room for concurrent builds
language: ruby
env:
  global:
  - PYGMENTS_VERSION='~> 1.2.0'
  - RGHOST_VERSION='0.9.7'
  - JRUBY_OPTS='-J-XX:+TieredCompilation -J-XX:TieredStopAtLevel=1 -J-Xss2m -Xcompile.invokedynamic=false'
stages:
- test
- name: release gem
  if: repo = asciidoctor/asciidoctor-pdf AND tag IS present
install:
- bundle config --local path .bundle/gems
- bundle config --local without coverage docs
- bundle --jobs 3 --retry 3
script: bundle exec ruby -w $(bundle exec which rake) spec
jobs:
  include:
  - stage: test
    name: Lint
    addons: ~
    rvm: &default_ruby 2.7.1
    script: bundle exec rake lint
  - rvm: jruby-9.2.12.0
    dist: trusty
  - rvm: jruby-9.1.17.0
    dist: trusty
  - rvm: *default_ruby
    env: PRAWN_GMAGICK_VERSION='0.0.9'
    addons:
      apt:
        packages: [ghostscript, poppler-utils, libgraphicsmagick1-dev]
  - rvm: 2.6.6
  - rvm: 2.5.8
  - rvm: 2.4.10
  - rvm: &oldest_ruby 2.3.8
  - rvm: *oldest_ruby
    env: ASCIIDOCTOR_VERSION=1.5.3
  - rvm: *default_ruby
    env: ROUGE_VERSION='~> 2.0.0'
  - rvm: *default_ruby
    env: PRAWN_VERSION=master
    before_script:
    - bundle exec ruby scripts/switch-to-prawn-master.rb
    - rm -f Gemfile.lock
    - bundle --jobs 3 --retry 3
  - rvm: *default_ruby
    env: PRAWN_VERSION='~> 2.3'
  - stage: release gem
    rvm: *default_ruby
    script: skip
    deploy:
      provider: rubygems
      gem: asciidoctor-pdf
      api_key: ${RUBYGEMS_API_KEY}
      on:
        tags: true
