name: CI
on: [push, pull_request]
jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        ruby: [jruby, '2.7', '2.6', '2.5', '2.4']
    env:
      PYGMENTS_VERSION: '~> 1.2.0'
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install Ruby
        uses: eregon/use-ruby-action@v1.10.0
        with:
          ruby-version: ${{ matrix.ruby }}
      - name: Bundle
        run: |
          gem install bundler
          bundle --path .bundle/gems --jobs 3 --retry 3 --without docs
      - name: Test
        run: bundle exec ruby -w $(bundle exec ruby -e "print File.join Gem.bindir, 'rake'") spec
