name: CI
on:
  push:
    branches: ['**']
    tags-ignore: ['**']
  pull_request:
  schedule:
  - cron: '0 2 * * *'
jobs:
  activate:
    if: "!endsWith(github.event.head_commit.message, '[skip ci]')"
    runs-on: ubuntu-latest
    steps:
    - name: Proceed
      run: echo ok go
  lint:
    needs: activate
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Install Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '2.7'
    - name: Configure Bundler
      run: |
        bundle config --local path .bundle/gems
        bundle config --local without coverage docs
    - name: Install dependencies
      run: bundle --jobs 3 --retry 3
    - name: Run linter
      run: bundle exec rake lint
  build:
    needs: lint
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        ruby: [jruby-9.2, '2.5', '2.6', '2.7']
        prawn: [~]
        exclude:
        - os: ubuntu-latest
          ruby: '2.7'
        include:
        - os: macos-latest
          ruby: '2.7'
        - os: ubuntu-latest
          ruby: '2.5'
          rouge-version: '~> 2.0.0'
        - os: ubuntu-latest
          ruby: '2.7'
          prawn: dev
        - os: ubuntu-latest
          ruby: '2.7'
          primary: true
    runs-on: ${{ matrix.os }}
    env:
      MENTOS_TIMEOUT: 30 # give pygments.rb calls more time to execute (in seconds)
      PYGMENTS_VERSION: '~> 1.2.0' # test runner will automatically disable Pygments tests on JRuby for Windows
      RGHOST_VERSION: '0.9.7'
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 5
    - name: Install Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
    - name: Configure Bundler
      run: |
        bundle config --local path .bundle/gems
        bundle config --local without coverage docs lint
    - name: Set Prawn Gmagick version / Install GraphicsMagick (Linux only)
      if: matrix.primary
      run: |
        echo 'PRAWN_GMAGICK_VERSION=0.0.9' >> $GITHUB_ENV
        sudo apt-get install libgraphicsmagick1-dev
    - name: Install Ghostscript and Poppler (Linux)
      if: matrix.os == 'ubuntu-latest'
      run: sudo apt-get install ghostscript poppler-utils
    - name: Install Ghostscript and Poppler (macOS)
      if: matrix.os == 'macos-latest'
      run: brew install ghostscript poppler
    - name: Install Ghostscript and Poppler and set GS env var (Windows)
      if: matrix.os == 'windows-latest'
      run: |
        choco install --no-progress ghostscript poppler
        echo "GS=$(& where.exe /R 'C:\Program Files\gs' gswin64c.exe)" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
    - name: Install dependencies
      run: bundle --jobs 3 --retry 3
    - name: Switch to Prawn master
      if: matrix.prawn == 'dev'
      run: |
        bundle exec ruby scripts/switch-to-prawn-master.rb
        rm -f Gemfile.lock
        bundle config --local clean true
        bundle --jobs 3 --retry 3
    - name: Run tests
      run: bundle exec ruby -w $(bundle exec ruby -e 'print File.join Gem.bindir, %q(rake)') spec
